* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin:  0;
    padding: 0;
    background-color: rgb(224, 217, 217);
}
main {
    display: flex;
    width: 60%;
    margin: 0 auto;
    height: 450px; 
    margin-top: 50px;
}

.form-details {
    width: 50%;
    background-color: #516EFF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-details img {
    position: relative;
    top: -100px;
    left: -146px;
    width: 50%;


}

.form-details h2 {
    font-size: 30px;
}

.form-details p {
    font-size: 20px;
}
.form-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    background-color: #fff; 
}
.form-content h2 {
  font-size: 30px;
  font-weight: bold;
}

.form input {
    padding: 10px;
    border-radius: 10px;
    border: 2px #0C6CF7 solid;
    margin-top: 20px;
    width: 300px;
    outline: none;
}
.form a {
    color:#516EFF;
    text-decoration: none;
}
.form a:hover {
    text-decoration: underline;
}

.icons img {
    border-radius: 50px;
    border: 1px solid rgb(41, 40, 40);
    padding: 10px;
    width: 40px;
    
}

button {
    cursor: pointer;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color:#516EFF;
    color: var(--white);
    border: none; 
    color: #fff;
    margin-top: 20px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        width: 60%;
        height: auto;
        margin-top: 20px;
    }

    .form-details {
        display: none;
    }

    .form-content {
        width: 100%;
        padding: 20px;
    }

    .form-details img {
        top: -50px;
        left: 0;
        width: 100px;
    }

    .form input,
    form button {
        width: 100%;
    }

    .form-content h2,
    .form-details h2,
    .form-details p {
        font-size: 24px;
    }

    .form a,
    .form-content p {
        font-size: 18px;
    }
     .toggle_menu {
            display: flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
    
        }
    
        .toggle_menu::before {
            position: absolute;
            content: "";
            height: 3px;
            width: 28px;
            background-color: black;
            border-radius: 6px;
            box-shadow: 0 10px 0 black;
            transform: translateY(-10px);
            transition: 0.5s;
        }
    
        .toggle_menu.active::before {
            transform: translateY(0) rotate(135deg);
            box-shadow: 0 0 0 black
        }
    
        .toggle_menu::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 28px;
            background-color: black;
            border-radius: 6px;
            transform: translateY(10px);
            transition: 0.5s;
        }
    
        .toggle_menu.active::after {
            transform: translateY(0) rotate(-135deg);
        }
        
        .header-content .menu.responsive {
            display: flex;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            flex-direction: column;
        }
        header .menu.responsive li {
            max-width: 15px 0;
        }
}

@media (max-width: 430px) {
    .form-details img {
        top: -20px;
        width: 80px;
    }

    .form input,
    form button {
        width: 80%;
        font-size: 16px;
    }

    .form-content h2,
    .form-details h2,
    .form-details p {
        font-size: 20px;
    }

    .form a,
    .form-content p {
        font-size: 15px;
    }
}